Source: cosmic-reader
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
    clang,
    debhelper-compat (=13),
    just,
    libxkbcommon-dev,
    pkg-config,
    rust-all,
    libfontconfig-dev,
    libfreetype-dev,
    libgumbo-dev,
    libharfbuzz-dev,
    libjbig2dec0-dev,
    libjpeg-turbo8-dev,
    liblcms2-dev,
    libleptonica-dev,
    libopenjp2-7-dev,
    libtesseract-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-reader

Package: cosmic-reader
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Cosmic Document Reader
